@font-face {
    font-family: 'MakiSans'; 
    src: url('fonts/Maki Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Mikar';
    src: url('fonts/Mikar.ttf') format('truetype');
}

@font-face {
    font-family: 'Cruinn';
    src: url('fonts/Cruinn.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    padding: 12vh 4vw;
}

body#index {
    background-image: url('images/index-background.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'MakiSans', sans-serif;
    font-size: 150px;
    font-weight: 500;
    margin-top: 0;
}

#index button {
    font-family: 'Mikar', sans-serif;
    font-size: 64px;
    border-style: hidden;
    background-color: #E5E2F3;
    border-radius: 10px;
    padding: 20px 60px;
}

#index .buttons {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
}

body#enter {
    background-image: url('images/enter-background.svg');
    display: flex;
}

#enter h1 {
    font-size: 64px;
}

button#back {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-right: 48px;
}

#enter form {
    margin-right: 10vw;
}

#enter form > div {
    display: flex;
    flex-direction: column;
}

#enter form label {
    font-family: 'Cruinn', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

#enter form input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 340px;
    padding: 20px;
    border: none;
    background-color: #F3EFFF;
    border-radius: 4px;
    margin-bottom: 20px;
}

#enter form button {
    padding: 16px 32px;
    width: min-content;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #723DB6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

body#rules, body#games {
    background-image: url('images/rules-background.svg');
    display: flex;
}

#rules h1 {
    font-size: 64px;
}

#rules p {
    font-family: 'Mikar', sans-serif;
    font-size: 36px;
    background-color: #E5E2F3;
    padding: 48px;
    margin-right: 96px;
}

#games h1 {
    font-size: 64px;
}

#games button {
    padding: 16px 32px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #723DB6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

body#games {
    flex-direction: column;
    align-items: stretch;
}

#games header {
    display: flex;
    justify-content: space-between;
}

#games main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.game {
    background-color: #E5E2F3;
    padding: 16px 48px;
    border-radius: 10px;
    font-family: 'Cruinn', sans-serif;
}

.game .data {
    display: flex;
    justify-content: space-around;
}

.game button {
    padding: 16px 32px;
    margin-left: 32px;
}

button#logout {
    background-color: #4E4343;
}

body#createGame {
    background-image: url('images/rules-background.svg');
}

#createGame h1{
    font-size: 64px;
}

#createGame header {
    display: flex;
}

#createGame main {
    background-color: #E5E2F3;
    padding: 5vh 5vw;
    border-radius: 10px;
    margin: 0 5vw;
}

#createGame form {
    display: flex;
}

#createGame form > div, #createGame form > div > div {
    display: flex;
    flex-direction: column;
}

#createGame form > div {
    width: 50%;
}

#createGame form label {
    font-family: 'Cruinn', sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
}

#createGame form input, #createGame form select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 14px;
    border-radius: 4px;
    border: none;
    background-color: #F3EFFF;
    width: 70%;
    margin-bottom: 4vh;
}

#createGame form button {
    padding: 16px 32px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #723DB6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

body#gamePage {
    background-image: url('images/rules-background.svg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% auto;
    gap: 1rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 10vh 10vw;
}

#gamePage #symbols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 5vh;
    column-gap: 5vh;
    row-gap: 5vh;
    width: fit-content;
    align-items: start;
    overflow-y: scroll;
}

#gamePage #symbols img {
    width: 12vw;
    height: auto;
    align-self: start;
}

#gamePage #exit {
    display: flex;
    align-items: center;
}

#gamePage #exitGame, #gamePage #putLabel, #gamePage #beginRound, #gamePage #startMove {
    padding: 16px 32px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #723DB6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

#gamePage #putLabel {
    margin-left: 3vw;
}

#gamePage #score {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gamePage #beginRound {
    margin: 0;
}

#gamePage #score p { 
    font-family: 'Cruinn', sans-serif;
    font-size: 36px;
    margin: 0;
}

#gamePage #chat {
    background-color: #E5E2F3;
    border-radius: 10px;
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gamePage #chat > div:first-child {
    overflow-y: auto;
    position: relative;
} 

#gamePage #chat h1 {
    font-family: 'Cruinn', sans-serif;
    font-size: 48px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E5E2F3;
    width: 100%;
}

#gamePage #chat form {
    display: flex;
    align-items: center;
    margin-top: 4vh;
}

#gamePage #chat form input {
    color: #75727A;
    font-family: 'Cruinn', sans-serif;
    font-size: 16px;
    background-color: #F3EFFF;
    border: none;
    padding: 16px 20px;
    border-radius: 10px;
    margin-right: 24px;
    flex: 1;
}

#gamePage #chat form button {
    background: none;
    border: none;
    padding: 0;
}

#gamePage #messages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
}

#gamePage #messages p {
    font-family: 'Cruinn', sans-serif;
    font-size: 15px;
    background-color: #D9D9D9;
    width: fit-content;
    padding: 18px;
    border-radius: 10px 10px 10px 0;
    margin: 0;
}

#gamePage #messages p.my {
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
}

#gamePage #messages p:first-of-type {
    margin-top: 72px;
}

#symbolsPage {
    background-image: url('images/rules-background.svg');
    display: flex;
}

#symbolsPage div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    row-gap: 4vh;
    overflow-y: auto;
}

#symbolsPage div button{
    background-color: transparent;
    padding: 0;
    border: none;
}

#symbolsPage div img {
    width: 15vw;
    border-radius: 10px;
}

#gamePage #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1000;
}

#gamePage #overlayMessage {
    margin-top: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 27vw;
    height: 39vh;
    background-image: url('images/banner.svg');
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' based on your need */
    background-position: center;
}

#gamePage #overlayMessage p {
    font-size: 56px;
    font-family: 'Cruinn', sans-serif;
}

#gamePage #overlayMessage button {
    padding: 16px 32px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #723DB6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: -10px;
}

#overlayMessage > img {
    height: 40%;
}

#overlayMessage.waiting p {
    margin-bottom: 0;
}